<html>
<head>
  <meta name="generator" content=
  "HTML Tidy for Mac OS X (vers 31 October 2006 - Apple Inc. build 15.3), see www.w3.org">

  <title>LANChamp -</title>
  <meta http-equiv="Content-Type" content=
  "text/html; charset=us-ascii">
  <style type="text/css">
    #dock { top: -32px; }
      a.dock-item { position: relative; float: left; margin-right: 100px; }
      .dock-item span { display: block; }
  </style>
  <script type="text/javascript">

      // when the DOM is ready, convert the feed anchors into feed content 
      jQuery(document).ready(function() { 
      jQuery('<div class="fullscreen_go"><\/div>').prependTo('.twtr-hd').toggle(function() {
      
      var icon = jQuery(this);
      icon.removeClass('fullscreen_go');
      icon.addClass('fullscreen_leave');
      window.scroll(0, 0);
      jQuery('#twtr-widget-1').addClass('fullscreen');
      jQuery('.twtr-doc').addClass('twtr-fullscreen');
      jQuery('.twtr-timeline').addClass('fullscreen_timeline');
      jQuery('.twtr-hd').addClass('dock')
      jQuery('.twtr-tweet').css('height', 120);
      jQuery('html').addClass('html_scroll');
      jQuery('body').addClass('body_scroll');
      
      }, function() {
      var icon = jQuery(this);
      icon.removeClass('fullscreen_leave');
      icon.addClass('fullscreen_go');
      jQuery('#twtr-widget-1').removeClass('fullscreen');
      jQuery('.twtr-doc').removeClass('twtr-fullscreen');
      jQuery('.twtr-timeline').removeClass('fullscreen_timeline');
      jQuery('.twtr-hd').removeClass('dock');
      jQuery('.twtr-tweet').css('height', 60);
      jQuery('html').removeClass('html_scroll');
      jQuery('body').removeClass('body_scroll');

      });
      jQuery('a.feed').gFeed( { target: '#feeds', tabs: true } ); 
      jQuery('#demohorinaja').wrap('<div id="demo" class="horinaja"><\/div>');
      jQuery('#demo').Horinaja({capture:'demo',delai:0.3, duree:4,pagination:true});
      jQuery('#demoyoutube').wrap('<div id="yt_holder" class="yt_holder"><\/div>');
      jQuery('<div id="ytvideo"><\/div>').prependTo('#yt_holder');
      jQuery('#demoyoutube').ytplaylist({addThumbs:true, autoPlay: false, holderId: 'ytvideo'});
      jQuery('.entry a img').parent().css('backgroundImage', 'none');
      jQuery(function() {
      jQuery('#newsslider').accessNews({
      headline : "Master Multimedia news",
      speed : "slow",
      slideBy : 4
      });
      });
      });   
  </script>
  <script type="text/javascript">
    hs.graphicsDir = 'images/highslide/graphics/';
      hs.align = 'center';
      hs.transitions = ['expand', 'crossfade'];
      hs.fadeInOut = true;
      hs.dimmingOpacity = 0.8;
      //hs.outlineType = 'rounded-white';
      hs.captionEval = 'this.thumb.alt';
      hs.marginBottom = 105 // make room for the thumbstrip and the controls
      hs.numberPosition = 'caption';
      
      var galleryOptions = {
      slideshowGroup: 'gallery',
      wrapperClassName: 'dark',
      //outlineType: 'glossy-dark',
      dimmingOpacity: 0.8,
      align: 'center',
      transitions: ['expand', 'crossfade'],
      fadeInOut: true,
      wrapperClassName: 'borderless floating-caption',
      //marginLeft: 100,
      //marginBottom: 80,
      numberPosition: 'caption'
      };

      // Add the slideshow providing the controlbar and the thumbstrip
      hs.addSlideshow({
      //slideshowGroup: 'group1',
      interval: 5000,
      repeat: false,
      useControls: true,
      overlayOptions: {
      className: 'text-controls',
      position: 'bottom center',
      relativeTo: 'viewport',
      offsetY: -60

      },
      thumbstrip: {
      position: 'bottom center',
      mode: 'horizontal',
      relativeTo: 'viewport'
      }
      });
  </script>
  <style type="text/css">
.highslide img {cursor:
      url(images//highslide/graphics/zoomin.cur), pointer !important;}
  </style>
  <style type="text/css">
div.c21 {padding: 0pt; border: medium none; margin: 0pt; position: absolute; left: 0pt; top: 0pt; width: 100%; z-index: 1001; direction: ltr;}
  table.c20 {padding: 0pt; border: medium none; margin: 0pt; visibility: hidden; position: absolute; border-collapse: collapse; width: 0pt;}
  tbody.c19 {padding: 0pt; border: medium none; margin: 0pt;}
  td.c18 {padding: 0pt; border: medium none; margin: 0pt; line-height: 0pt; font-size: 0pt; background: url("http://lanchamp.com/highslide/graphics/outlines/drop-shadow.png") repeat scroll -20px -20px transparent; height: 20px; width: 20px;}
  td.c17 {padding: 0pt; border: medium none; margin: 0pt; line-height: 0pt; font-size: 0pt; background: url("http://lanchamp.com/highslide/graphics/outlines/drop-shadow.png") repeat scroll 0px -60px transparent; height: 20px; width: 20px;}
  td.c16 {padding: 0pt; border: medium none; margin: 0pt; line-height: 0pt; font-size: 0pt; background: url("http://lanchamp.com/highslide/graphics/outlines/drop-shadow.png") repeat scroll 0px -20px transparent; height: 20px; width: 20px;}
  td.c15 {padding: 0pt; border: medium none; margin: 0pt; line-height: 0pt; font-size: 0pt; background: url("http://lanchamp.com/highslide/graphics/outlines/drop-shadow.png") repeat scroll -20px -80px transparent; height: 20px; width: 20px;}
  td.c14 {padding: 0pt; border: medium none; margin: 0pt; position: relative;}
  td.c13 {padding: 0pt; border: medium none; margin: 0pt; line-height: 0pt; font-size: 0pt; background: url("http://lanchamp.com/highslide/graphics/outlines/drop-shadow.png") repeat scroll 0px -80px transparent; height: 20px; width: 20px;}
  tr.c12 {padding: 0pt; border: medium none; margin: 0pt; height: auto;}
  td.c11 {padding: 0pt; border: medium none; margin: 0pt; line-height: 0pt; font-size: 0pt; background: url("http://lanchamp.com/highslide/graphics/outlines/drop-shadow.png") repeat scroll -20px 0px transparent; height: 20px; width: 20px;}
  td.c10 {padding: 0pt; border: medium none; margin: 0pt; line-height: 0pt; font-size: 0pt; background: url("http://lanchamp.com/highslide/graphics/outlines/drop-shadow.png") repeat scroll 0px -40px transparent; height: 20px; width: 20px;}
  td.c9 {padding: 0pt; border: medium none; margin: 0pt; line-height: 0pt; font-size: 0pt; background: url("http://lanchamp.com/highslide/graphics/outlines/drop-shadow.png") repeat scroll 0px 0px transparent; height: 20px; width: 20px;}
  div.c8 {padding: 0pt; border: medium none; margin: 0pt;}
  a.c7 {position: absolute; top: -9999px; opacity: 0.75; z-index: 1;}
  div.c6 {display: block;}
  div.c5 {opacity: 0;}
  div.c4 {margin: 0px; text-align: center; width: 600px}
  div.c3 {text-align: center}
  div.c2 {display: none;}
  img.c1 {position: absolute; right: 0px; top: 0px; margin: 0px; padding: 0px;}
  </style>
</head>

<body>
  <img src="images/54864b4d50df01c596721d41ea8c49a7.gif" class="c1"
  border="0" height="150" width="150">

  <div id="wrap">
    <div id="header">
      <h1 id="LANchamp"></h1>

      <ul id="menu">
        <li><a class="about" href="#about" title=
        "Home"><span>home</span></a></li>

        <li><a class="league_info" href="#league_info" title=
        "Events"><span>league_info</span></a></li>

        <li><a class="teams" href="#teams" title=
        "Teams"><span>teams</span></a></li>

        <li><a class="schedule" href="#schedule" title=
        "Schedule"><span>schedule</span></a></li>

        <li><a class="bracket" href="#bracket" title=
        "Bracket"><span>bracket</span></a></li>

        <li><a class="media" href="#media" title=
        "Media"><span>media</span></a></li>

        <li><a class="lc_about" href="#lc_about" title=
        "About"><span>about</span></a></li>
      </ul><!-- / #menu -->
    </div><!-- #header -->

    <div class="c6" id="view">
      <div id="title">
        <div class="img about"></div>

        <div class="img networks"></div>

        <div class="img portfolio"></div>

        <div class="img contact"></div>
      </div><!-- / #title -->

      <div id="about">
        <div id="slider">
          <div class="content about yt_holder c3" id="yt_holder">
            <div id="ytvideo">
              <div class="c2" id="loading"></div><object height="385"
              width="640">
                <param name="movie" value=
                "http://www.youtube.com/v/Ie8BBfzdnu0&amp;rel=1&amp;hl=en_US&amp;fs=1?color1=0x000000&amp;color2=0x000000">
                <param name="wmode" value="transparent">
                <embed src="images/Ie8BBfzdnu0rel1hlen_USfs1" type=
                "application/x-shockwave-flash" wmode="transparent"
                height="385" width="640">
              </object>
            </div>

            <ul id="demoyoutube">
              <li class="currentvideo"><a title="LANchamp Baltimore"
              href=
              "http://www.youtube.com/watch?v=Ie8BBfzdnu0"><img src=
              "images/2_003.jpg" alt=
              "LANchamp Baltimore"><span>LANchamp
              Baltimore</span></a></li>

              <li><a title="LANchamp Baltimore" href=
              "http://www.youtube.com/watch?v=azJ6sY5PtdY"><img src=
              "images/2_004.jpg" alt=
              "LANchamp Baltimore"><span>LANchamp
              Baltimore</span></a></li>

              <li><a title="BM: TLR vs. Area 51" href=
              "http://www.youtube.com/watch?v=KJX_GvLH9oU"><img src=
              "images/2.jpg" alt="BM: TLR vs. Area 51"><span>BM: TLR
              vs. Area 51</span></a></li>

              <li><a title="BM: Dynamic vs. 050" href=
              "http://www.youtube.com/watch?v=6yaLVclTxnc"><img src=
              "images/2_002.jpg" alt="BM: Dynamic vs. 050"><span>BM:
              Dynamic vs. 050</span></a></li>
            </ul>
          </div><!-- / .content.league_info -->

          <div class="content league_info">
            Please check back later.
          </div><!-- / .content.teams -->

          <div class="content teams">
            Please check back later for an updated team listing.
          </div><!-- .content.schedule -->

          <div class="content schedule">
            Please check back later for an updated schedule.
          </div><!-- .content.bracket -->

          <div class="content bracket highslide-gallery c4">
            <a class="highslide" href=
            "http://lanchamp.com/img/bracket.png" onclick=
            "return hs.expand(this, galleryOptions)"><img src=
            "images/bracket.png" alt=""></a><br>
            (Click to Enlarge)
          </div><!-- .content.media -->

          <div class="content media">
            <div class="c3">
              <img src="images/live_banner.png" alt=""><br>
              Baltimore: Match Demo Listing<br>
              <img src="images/separator.png" alt=""><br>
              Finals<br>
            </div><a href=
            "http://www.lanchamp.com/baltimore/demos/Bal4.A51Dynamic.rar">BM:
            Dynamic vs. Area 51 Canada</a><br>

            <div class="c3">
              <img src="images/separator.png" alt=""><br>
              3rd Place Elimination Match<br>
            </div><a href=
            "http://www.lanchamp.com/baltimore/demos/Bal3.A51-SP.rar">BM:
            Area 51 Canada vs. SP</a><br>

            <div class="c3">
              <img src="images/separator.png" alt=""><br>
              4th Place Elimination Match<br>
            </div><a href=
            "http://www.lanchamp.com/baltimore/demos/Bal2.Crev-SP.rar">BM:
            SP vs. Cyber Rev</a><br>

            <div class="c3">
              <img src="images/separator.png" alt=""><br>
              Upper Bracket Finals<br>
            </div><a href=
            "http://www.lanchamp.com/baltimore/demos/Bal2.Dynamic-A51.rar">BM:
            Dynamic vs. Area 51 Canada</a><br>

            <div class="c3">
              <img src="images/separator.png" alt=""><br>
              First Round<br>
            </div><a href=
            "http://www.lanchamp.com/baltimore/demos/Bal1.A51-SP.rar">BM:
            SP vs. Area 51 Canada</a><br>
            <a href=
            "http://www.lanchamp.com/baltimore/demos/Bal1.Crev-Dynamic.rar">
            BM: Dynamic vs. Cyber Rev</a><br>
          </div><!-- .content.about -->

          <div class="content lc_about">
            Please check back later .
          </div>
        </div><!-- / #slider -->
      </div><!-- / #content -->

      <div id="footer">
        <div class="buttons wrap">
          <a title="null" href="#" rel="external" class="wof"></a>
          <a href="#" title="Read the Small Print" class="more">Read
          the small print</a>
        </div><!-- / #footer .buttons -->

        <div class="inner c5" id="yadda-box">
          <p><a href="http://lanchamp.com/" title="lanchamp" rel=
          "external">Privacy Policy</a> || <a href=
          "http://lanchamp.com/" title="lanchamp" rel="external">End
          User License Agreement</a></p>

          <p><a href="http://lanchamp.com/" title="lanchamp" rel=
          "external">LANchamp, LLC</a> &#194;&#169; 2010 All Rights
          Reserved. Developed by Aaron Christian.</p>
        </div><!-- / #yadda-box -->
      </div><!-- / #footer -->
    </div><!-- / #view -->
  </div>

  <div class="highslide-container c21">
    <a href="javascript:;" title="Click to cancel" class=
    "highslide-loading c7">Loading...</a>

    <div class="c2"></div>

    <div class="highslide-viewport c8"></div>

    <table class="c20" cellspacing="0">
      <tbody class="c19">
        <tr class="c12">
          <td class="c9"></td>

          <td class="c10"></td>

          <td class="c11"></td>
        </tr>

        <tr class="c12">
          <td class="c13"></td>

          <td class="drop-shadow highslide-outline c14"></td>

          <td class="c15"></td>
        </tr>

        <tr class="c12">
          <td class="c16"></td>

          <td class="c17"></td>

          <td class="c18"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
